@media
screen
{
div.content {
 margin:0;
 border:0 solid #303030;
 padding:0;
 font-family: Raleway, Geneva, sans-serif;
 overflow-x:auto;
 width:100%;
 height:100%;
}
}

@media
all
{
/* HEADER */
html {
 overflow:auto;
 height:100%;
}

body {
 height:100%;
 width:100%;
}

* {
 font-size:10px;
}

td.imgback {
 background-color:#99CD9E;
 vertical-align:top;
}

td.header_line {
 display:none;
}

td.menu_bar {
 padding-top:2px;
 padding-left:5px;
 background:url(../../_img/themes/green/menunavigation_bg.gif) repeat-x;
}

tr.menu_navigation {
 height:26px;
 padding-bottom:0px;
 padding-top:2px;
 color:#fff;
 background:url(../../_img/themes/green/menunavigation_bg.gif) repeat-x;
}

tr.menu_navigation a {
 padding:1px 2px;
 color:#fff;
 border:1px solid transparent;
 text-decoration:none;
}

tr.menu_navigation a:hover {
 padding:1px 2px;
 color:#fff;
 border:1px solid #eee;
 text-decoration:none;
}

/** MENU **/
#topmenu {
 width:100%;
 height:27px;
 z-index:50000;
}

#topmenu ul {
 display:block;
 margin:0;
 padding:0;
 padding-top:1px;
 line-height:1em;
 list-style:none;
 z-index:90;
}

#topmenu ul li {
 float:left;
 margin:0 3px 0 0;
 padding:0;
 font-size:14px;
 line-height:1em;
 list-style-type:none;
}

#topmenu ul li a {
 float:left;
 display:block;
 width:auto;
 font-weight:normal;
 text-decoration:underline;
 color:#fff;
 margin:0;
 padding:4px 2px 1px 24px;
 border:1px solid transparent;
 background:url(../../_img/themes/default/buttons_transparent.png) left 0 no-repeat;
 _background:url(../../_img/themes/default/buttons_transparent.gif) left 0 no-repeat;
}

#topmenu ul li a:hover {
 text-decoration:none;
 border:1px solid #eee;
 padding:4px 2px 1px 24px;
}

#topmenu ul li.menu_employee a {
 background-position:left -185px;
}
#topmenu ul li.menu_hr a {
 background-position:left -119px;
}
#topmenu ul li.menu_person a {
 background-position:left -185px;
}
#topmenu ul li.menu_applications a {
 background-position:left -210px ;
}
#topmenu ul li.menu_system a {
 background-position:left -243px ;
}
#topmenu ul li.menu_immo a {
 background-position:left -270px ;
}
#topmenu ul li.menu_info a {
 background-position:left -298px ;
}
#topmenu ul li.menu_curative a {
 background-position:left -348px ;
}
#topmenu ul li.menu_nursing a {
 background-position:left -322px ;
}
#topmenu ul li.menu_documents a {
 background-position:left -376px ;
}
#topmenu ul li.menu_statistics a {
 background-position:left -376px ;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#topmenu ul li a {
 float:none;
}

#topmenu ul.level2, #topmenu ul.level3 {
 position:absolute;
 top:0px;
 left:0px;
 visibility:hidden;
 border:1px solid #1CAE1C;
 background:white;
 width:207px;
}

#topmenu ul.level2 li, #topmenu ul.level3 li {
 float:none;
 margin:0;
 padding:0;
 width:207px;
 color:#303030;
}

#topmenu ul.level2 li a, #topmenu ul.level3 li a {
 padding:5px;
 padding-right:12px;
 width:190px;
 _width:207px;
 border:none;
 text-decoration:none;
 background:none;
 color:#303030;
}

#topmenu ul.level2 li a.subparent:hover, #topmenu ul.level3 li a.subparent:hover {
 background:url(../../_img/themes/green/arrow-right.gif) 200px center no-repeat;
 background-color:#D2E6C8;
}
#topmenu ul.level2 li a.subparent, #topmenu ul.level3 li a.subparent {
 background:url(../../_img/themes/green/arrow-right.gif) 200px center no-repeat;
 color:#303030;
}

#topmenu ul.level2 li a:hover, #topmenu ul.level3 li a:hover {
 font-weight:normal;
 border:none;
 padding:5px;
 padding-right:12px;
 text-decoration:none;
 background:none;
 background-color:#D2E6C8;
 color:#303030;
}

div.logo {
 position:absolute;
 right:10px;
 top:0px;
 width:160px;
 height:60px;
}

div.version{
 position:absolute;
 top:60px;
 right:10px;
 width:200px;
 height:10px;
 font-size:8px;
 font-family: Raleway, Geneva, sans-serif;
 color:#777;
 text-align:right;
 padding-right:15px;
}

div.topicones {
 position:absolute;
 right:21px;
 top:-28px;
 width:200px;
 height:31px;
 text-align:right;
}

a.imglink {
 padding:3px;
 height:22px;
 width:22px;
 float:right;
}

a.imglink:hover {
 padding:2px;
 background:#CFFFA0;
 border:1px solid #1CAE1C;
}

.white {
 background-color:#fff;
}

table.topline {
 background:#B4DE95;
}

table.topline td {
 font-size:10px;
 padding-bottom:2px;
}

td.navigation_line {
 display:none;
}

table.list {
 background-color:#fff;
 border:1px solid #1CAE1C;
}

tr.admin {
 font-family: Raleway, Geneva, sans-serif;
 font-weight:bolder;
 text-align:left;
 text-indent:5px;
 padding:1px;
 color:white;
 height:22px;
 font-size:11px;
 background:url(../../_img/themes/green/tradmin_bg.gif) no-repeat;
 background-repeat:repeat-x;
}

tr.adminng {
 font-family: Raleway, Geneva, sans-serif;
 font-weight:bolder;
 text-align:left;
 text-indent:5px;
 padding:1px;
 color:#303030;
 height:22px;
 font-size:11px;
 background-color: #4CAA54;
}
tr.admin a {
 color:white;
}

td.longTitle {
 text-indent:0;
 padding-left:5px;
}

TD.admin {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:bold;
 text-align:left;
 padding:1px;
 text-indent:5px;
 background-color:#9ACF97;
 height:22px;
 line-height:22px;
}

td.admin2 {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 /*text-indent:5px;*/
 margin:5px;
 vertical-align:middle;
 background-color:#BEDEB1;
}

td.admin2right {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:right;
 padding:1px;
 /*text-indent:5px;*/
 margin:5px;
 background-color:#DEEAFF;
}

td.titleadmin, td.titleadmin div {
 color:#076E03;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:bold;
 text-align:left;
 height:22px;
 line-height:22px;
 background:#BEDEB1;
 text-indent:3px;
}

.clinical {
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:bolder;
 text-align:left;
 padding:1px;
 padding-left:5px;
 border:solid #303030 1px;
 color:#3C5C74;
}

.strikelist {
 color:#5e5e5e;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#D2E6C8;
 height:20px;
 text-decoration:line-through;
}

tr.list {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:white;
 height:20px;
}

tr.listbold {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:bolder;
 text-align:left;
 padding:1px;
 text-indent:5px;
 background-color:#BEDEB1;
 height:20px;
}

tr.listbold1 {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:bolder;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:white;
 height:20px;
}

tr.listDisabled {
 font-style:italic;
 color:#5e5e5e;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#D2E6C8;
 height:20px;
}

tr.listText {
 color:Gray;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#D2E6C8;
 font-style:italic;
 height:20px;
}

tr.list_select {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#B4DE95;
 height:20px;
}

tr.hand {
 cursor:pointer;
}

td.image {
 height:190px;
}

tr.list_selectbold {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:bolder;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#BEBEBE;
 height:20px;
}

tr.list_select2 {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 background-color:#CCFF66;
}

/* TABS */
td.tabs {
 border-bottom:1px solid #14A614;
}

td.tabunselected {
 border:#14A614 1px solid;
 padding:5px;
 cursor:pointer;
 background:#D2E6C8; 
}

td.tabselected {
 border:#14A614 1px solid;
 border-bottom:none;
 padding:5px;
 background:#3CC63C;
 cursor:pointer;
 color:white;
}

A.menuItem:link {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-decoration:none;
 padding:3px;
 padding-left:5px;
 padding-right:5px;
}

A.menuItem:visited {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-decoration:none;
 padding:3px;
 padding-left:5px;
 padding-right:5px;
}

A.menuItem:active {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-decoration:none;
 padding:3px;
 padding-left:5px;
 padding-right:5px;
}

A.menuItem:hover {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 border:1px solid #A6A6A6;
 padding:2px;
 padding-left:4px;
 padding-right:4px;
 background-color:#FFFAEA;
}

.letterred {
 color:#DF0910;
}

.labelred {
 color:red;
}

TD.menuItemGreen {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:normal;
 background-color:#99cc99;
 padding:1px;
 text-indent:5px;
 border:none;
}

.green {
 background-color:#9ECAA9;
}

.red {
 background-color:#ff9999;
}

.menuItemGreen {
 background-color:#9ECAA9;
}

.menuItemRed {
 background-color:#ff9999;
}

TR.red {
 background-color:#ff9999;
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 height:20px;
}

TR.green {
 background-color:#9ECAA9;
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 padding:1px;
 text-indent:5px;
 border:none;
 height:20px;
}

TR.gray {
 color:white;
 font-family: Raleway, Geneva, sans-serif;
 font-weight:bold;
 font-size:10px;
 padding:1px;
 text-indent:5px;
 border:none;
 height:22px;
 line-height:22px;
 background:url(../../_img/themes/green/trheader.gif) repeat-x;
}

TR.gray td {
 border:none;
}

A.underlined:active {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-decoration:underline;
}

A.underlined:visited {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-decoration:underline;
}

A.underlined:link {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-decoration:underline;
 padding:1px;
}

A.underlined:hover {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-decoration:none;
 padding:0px;
 border:1px solid #303030;
 background-color:white;
}

/*OTHERS*/
body {
 margin:0;
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 background-color:#fff;
}

hr {
 color:Silver;
 font-size:1px;
 height:1px;
}

td {
 font-family: Raleway, Geneva, sans-serif;
}

/*hyperlinks*/
A {
 color:#303030;
 font-size:10px;
 font-weight:normal;
}

A.menu:link {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:normal;
 text-decoration:none;
 padding:1px;
}

A.menu:visited {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:normal;
 text-decoration:none;
}

A.menu:active {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:normal;
 text-decoration:none;
}

A.menu:hover {
 color:#303030;
 font-family: Raleway, Geneva, sans-serif;
 font-size:11px;
 font-weight:normal;
 text-decoration:underline;
 padding:0px;
 border:1px solid #303030;
 background-color:white;
}

h2, h2 a {
 font-size:10pt;
 padding:10px 0 5px 0;
 border-bottom:1px solid #cdcdcd;
}

h3, h3 a {
 font-size:9pt;
 padding:5px;
 text-decoration:underline;
 margin:10px 0.5% 0 0.5% !important;
 margin:10px 5px 0 5px;
}

h4, h4 a {
 font-size:8pt;
 padding:5px;
 margin:10px 0.5% 0 0.5% !important;
 margin:10px 5px 0 5px;
}

/*forms*/
INPUT.text {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#fff;
 COLOR:#303030;
 height:18px;
 background:url("../../_img/themes/green/back_input.png") no-repeat ;
 font-family: Raleway, Geneva, sans-serif; 
}

.strike {
 color:#ccc;
 text-decoration:line-through;
}

.strikeonly {
 text-decoration:line-through;
}

INPUT.greytext {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 height:18px;
 BACKGROUND:lightgrey;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif; 
}
	
INPUT.normal {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#fff;
 COLOR:#303030;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input.png") no-repeat;
}

INPUT.checkbox {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#fff;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 border-color:#89A0D1;
 border-left-width:1px;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-style:none;
}

INPUT.textred {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#fff;
 COLOR:#303030;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background-color:#ff9999;
}

INPUT.readonly {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#eee;
 COLOR:#303030;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background-color:lightgrey;
}

INPUT.textyellow {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:#fff;
 COLOR:#303030;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input_hover.png") no-repeat;
}

INPUT.selected {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 COLOR:#303030;
 height:18px;
 background:#FFFFCC;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input_hover.png") no-repeat;
}

INPUT.bold {
 FONT-WEIGHT:bold;
 FONT-SIZE:9px;
 BACKGROUND:#fff;
 COLOR:#303030;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input.png") no-repeat;
}

INPUT.selected_bold {
 FONT-WEIGHT:bold;
 FONT-SIZE:9px;
 height:18px;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input_hover.png") no-repeat;
}

TEXTAREA.text {
 FONT-WEIGHT:normal;
 FONT-SIZE:11px;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input.png") no-repeat white;
 resize:both;
}

TEXTAREA.selected {
 FONT-WEIGHT:normal;
 FONT-SIZE:11px;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input_hover.png") no-repeat white;
 resize:both;
}

TEXTAREA.normal {
 FONT-WEIGHT:normal;
 FONT-SIZE:11px;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input.png") no-repeat white;
 resize:both;
}

SELECT.text {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 COLOR:#303030;
 line-height:20px;
 height:18px;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input.png") no-repeat ;
}

SELECT.selected {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 COLOR:#303030;
 height:18px;
 line-height:20px;
 font-family: Raleway, Geneva, sans-serif;
 background:url("../../_img/themes/green/back_input_hover.png") no-repeat ;
}

button.button {
 padding-bottom:3px;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 color:#303030;
 height:18px;
 border:solid 1px #b5b5b5;
 cursor:pointer;
 background:url("../../_img/themes/green/button-bg.png") top left repeat-x;
 -moz-border-radius:3px;
 border-radius:3px;
 -webkit-border-radius:3px;
 outline:none;
 background-color:#ddd;
}

button.button:focus {
 outline:none;
}

button.button:hover {
 border:solid 1px #303030;
 outline:none;
}

button {
 padding:0px 5px 0px 5px;
}

INPUT {
 -moz-border-radius:3px;
 border-radius:3px;
 -webkit-border-radius:3px;
}

input.button {
 padding-bottom:3px;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 color:#303030;
 height:18px;
 border:solid 1px #b5b5b5;
 cursor:pointer;
 background:url("../../_img/themes/green/button-bg.png") top left repeat-x;
 background-color:#ddd;
 -moz-border-radius:3px;
 border-radius:3px;
 -webkit-border-radius:3px;
 outline:none;
}

input.redbutton {
 padding-bottom:3px;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 color:white;
 height:18px;
 border:solid 1px #b5b5b5;
 cursor:pointer;
 background-color:#ff3300;
}

input.hiddenredbutton {
 padding-bottom:3px;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 color:white;
 height:18px;
 visibility:hidden;
 border:solid 1px #b5b5b5;
 cursor:pointer;
 background-color:#ff3300;
}

input.currentpageButton {
 font-weight:bolder;
 color:#ff3300;
 cursor:none;
}

input.button:focus {
 outline:none;
}

input.button:hover {
 border:solid 1px #303030;
 outline:none;
}

button.buttoninvisible {
 visibility:hidden;
 height:1px;
 width:1px;
}

button.buttonhidden {
 visibility:hidden;
 height:1px;
 width:1px;
}

input.buttonhidden {
 visibility:hidden;
 height:1px;
 width:1px;
}

table div.rotated {
 -webkit-transform:rotate(270deg);
 -moz-transform:rotate(270deg);
 writing-mode:tb-rl;
 white-space:nowrap;
}

thead th {
 vertical-align:top;
}

table .vertical {
 white-space:nowrap;
}

.button.large {
 padding-left:10px;
 padding-right:10px;
}

/*menu*/
td.arrow {
 text-align:center;
 width:10px;
}

/*scrollbars*/
.Geenscroll {
 overflow:hidden;
 background-color:#D2E6C8;
}

TR.list { 
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 background-color:#fff;
 padding:1px;
 text-indent:5px;
 border:none;
 height:20px;
}

TR.list1 {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 background-color:#D2E6C8;
 padding:1px;
 text-indent:5px;
 height:20px;
}

TR.listDisabled1 {
 font-style:italic;
 color:gray;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 background-color:White;
 padding:1px;
 text-indent:5px;
 border:none;
 height:20px;
}

TR.listText1 {
 font-style:italic;
 color:Gray;
 font-family: Raleway, Geneva, sans-serif;
 font-size:10px;
 font-weight:normal;
 text-align:left;
 background-color:White;
 height:20px;
 border:none;
 padding:1px;
 text-indent:5px;
}

TD.text {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:normal;
 text-align:left;
 background-color:#fff;
 padding:1px;
 text-indent:5px;
 border:none;
}

TD.textRed {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:normal;
 text-align:left;
 background-color:#ff9999;
 padding:1px;
 text-indent:5px;
 border:none;
}

TR.Label {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bolder;
 text-align:left;
 background-color:#D2E6C8;
}

TR.Label2 {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-align:left;
 padding:1px;
 text-indent:5px;
}

TR.White {
 color:#333;
 font-family: Raleway, Geneva, sans-serif;
 font-size:9px;
 font-weight:bold;
 text-align:left;
 background-color:#fff;
 padding:1px;
 text-indent:5px;
}

td.title {
 font-size:11px;
 background-color:#ccc;
}

td#tableHeaderTitle {
 text-indent:5px;
}

div.title {
 font-size:11px;
 font-family: Raleway, Geneva, sans-serif;
 background-color:#ddd;
 padding:3px;
}

table.menu {
 background-color:white;
 border:1px solid #1CAE1C;
}

div.search {
 border:1px solid #303030;
 padding:2px;
 font-family: Raleway, Geneva, sans-serif;
 width:99%;
}

div.searchResults {
 border:1px solid #1CAE1C;
 padding:0;
 font-family: Raleway, Geneva, sans-serif;
 width:99%;
 overflow:auto;
 min-height:100px;
 height:150px;
}

#divFindRecords {
 overflow:auto;
 height:330px;
 border:1px solid #dcdcdc;
}

.skin1 {
 cursor:default;
 position:absolute;
 text-align:left;
 width:250px;
 background-color:menu;
 z-index:100;
 visibility:hidden;
 font-family: Raleway, Geneva, sans-serif;
 font-size:8pt;
 border:1px solid buttonface;
 border:2 outset buttonhighlight;
}

hr.popup {
 color:#84a2ce;
 height:1px;
}

INPUT.modified {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BORDER-COLOR:darkblue;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 BORDER-STYLE:solid;
 -moz-appearance:none;
}

TEXTAREA.modified {
 FONT-WEIGHT:normal;
 FONT-SIZE:11px;
 border-color:darkblue;
 COLOR:#303030;
 font-family: Raleway, Geneva, sans-serif;
 BORDER-STYLE:solid;
}

SELECT.modified {
 FONT-WEIGHT:normal;
 FONT-SIZE:10px;
 BACKGROUND:darkblue;
 COLOR:yellow;
 font-family: Raleway, Geneva, sans-serif;
 BORDER-STYLE:groove;
}

img.link {
 cursor:pointer;
 vertical-align:middle;
 *vertical-align:-2px;
 line-height:2em;
 border:none;
 -moz-opacity:0.8;
 display:inline;
}

a.previousButton {
 width:16px;
 height:16px;
 display:block;
 background:url("../../_img/themes/default/arrow-back-previous.png") left top no-repeat;
 text-decoration:none;
 filter:alpha(opacity=90);
 -moz-opacity:0.8;
 opacity:0.8;
}

td.imagehub {
 height:30px;
 background:url("../../_img/icons/icon_imagehub.png") left top no-repeat;
}

a.previousButton:hover {
 cursor:pointer;
 filter:alpha(opacity=100);
 -moz-opacity:1;
 opacity:1;
}

a.closeButton {
 width:16px;
 height:16px;
 display:block;
 background:url("../../_img/icons/icon_minus.png") left top no-repeat;
 text-decoration:none;
 filter:alpha(opacity=80);
 -moz-opacity:0.8;
 opacity:0.8;
}

a.closeButton:hover {
 cursor:pointer;
 filter:alpha(opacity=100);
 -moz-opacity:1;
 opacity:1;
}

a.topbutton {
 width:16px;
 height:16px;
 background:url("../../_img/themes/default/arrow-up-top.png") left top no-repeat;
 text-decoration:none;
 filter:alpha(opacity=80);
 -moz-opacity:0.8;
 opacity:0.8;
}

a.topbutton:hover {
 cursor:pointer;
 filter:alpha(opacity=100);
 -moz-opacity:1;
 opacity:1;
}

a.bottombutton {
 width:16px;
 height:16px;
 background:url("../../_img/themes/default/arrow-down-bottom.png") left top no-repeat;
 text-decoration:none;
 filter:alpha(opacity=80);
 -moz-opacity:0.8;
 opacity:0.8;
}

a.bottombutton:hover {
 cursor:pointer;
 filter:alpha(opacity=100);
 -moz-opacity:1;
 opacity:1;
}

table.sortable a.sortheader {
 font-weight:bold;
 font-size:9px;
 text-decoration:underline;
 color:#fff;
}

table.sortable {
 border:1px solid #1CAE1C;
 margin-top:0px;
}

table.sortable span.sortarrow {
 font-size:8pt;
 text-decoration:none;
}

div#wait {
 background:url("../../_img/themes/green/ajax-loader.gif") no-repeat;
 height:20px;
}

/*ajax autocompletion */
div.autocompletiondiv {
 border:1px solid #999;
 background-color:white;	
}

ul#autocompletion .selected {
 background:#84CE64;
 color:#000;
 font-family: Raleway, Geneva, sans-serif;
 cursor:pointer;
}

ul#autocompletion {
 margin:0px;
 padding:0px;
 background:white;
 border-top:none;
 z-index:999999999;
}

ul#autocompletion li {
 list-style:none;
 margin:1px;
 padding:1px;
 text-align:left;
}

ul.sortablelist {
 list-style-image:none;
 list-style-type:none;
 margin:5px;
 padding:0px;
 height:1000px;
 overflow:auto;
}

ul.sortablelist li {
 list-style-image:none;
 list-style-type:none;
 margin:1px;
 padding:0px;
 cursor:move;
}

ul.sortabledemo li {
 padding:0px;
 margin:0px;
 cursor:move;
}

span.handle {
 background-color:#E8A400;
 color:white;
 cursor:move;
}

li.green {
 background-color:white;
 border:1px solid #C5DEA1;
 padding:2px;
 cursor:move;
}

.hand {
 cursor:pointer;
}

div.statBlock {
 width:100%;
 position:relative;
 float:left;
 height:auto;
}

div.statBlockHalf {
 text-align:center;
 display:inline;
 margin:10px 0.5% 0 0.5% !important;
 margin:10px 5px 0 5px;
 width:48%;
 min-height:100%;
 height:100%;
 float:left;
 clear:none;
 padding:0 0 0 0;
 font-size:12px;
 color:#4c4c4c;
 line-height:20px;
 border:1px solid #d1d1d1;
 background:white;
 z-index:1;
}

div.statBlockHalf:hover {
 border-color:#a0a0a0;
}

div.statBlockHalfTop {
 color:#4c4c4c;
 width:100%;
 height:20px;
 line-height:20px;
 font-weight:bold;
 font-size:12px;
 background:url(../../_img/themes/green/tradmin_bg.gif) repeat-x #c2deff;

}

div.statBlockHalf .left {
 border:none;
 text-align:left;
 width:65%;
 padding:0 0 0 5%;
 display:inline;
 float:left;
}

div.statBlockHalf .right {
 width:30%;
 display:inline;
 text-align:left;
 float:left;
}

div.statBlockHalf .h {
 background:#fafcf6;
 border-bottom:1px solid #eee;
 border-top:1px solid #eee;
}

ul.legend {
 padding:2%;
 width:95%;
}

ul.legend li {
 text-align:left;
 list-style:none;
}

ul.legend li span {
 margin-right:10px;
}

ul.legend li:hover {
 color:darkblue;
}

.topLegend {
 float:left;
 width:100%;
 padding:3px 0 3px 0;
 border-bottom:1px solid #ccc;
}

a.collapsed-link {
 display:block;
 padding-left:15px;
 background-position:5px 50%;
 background-repeat:no-repeat;
 background-image:url(../../_img/themes/green/menu-collapsed.png);
}

a.expanded-link {
 display:block;
 padding-left:15px;
 background-repeat:no-repeat;
 background-image:url(../../_img/themes/green/menu-expanded.png);
 background-position:5px 70%;

}

.ie5menu {
 background-color:#c9c9c9;
 color:#000;
 list-style:none;
 padding:5px 3px;
 margin:3px;
}

.ie5menuHover {
 background-color:#9ACF97;
 color:#000;
 padding:5px 3px;
 cursor:pointer;
 margin:3px;
}

ul.normallist li {
 font-weight:normal;
 margin:5px;
 list-style-image:url(../../_img/themes/green/arrow.right.png);
 font-size:12px;
}

ul.normallist li ul li {
 font-weight:normal;
 list-style:none;
}

ul.normallist li ul li span.error {
 color:red;
}

ul.normallist li ul li span.valid {
 color:green;
}

ul li.formated {
 float:left;
}

#weekSchedulerFormByAjax {
 border:2px solid #1cae1c;
}

div.slider {
 margin:10px 0 0 0px;
 padding-top:-5px;
 width:250px;
 background-color:#a1a1a1;
 height:2px;
 position:relative;
}

div.slider div.handle {
 z-index:1;
 top:-5px;
 position:absolute;
 width:18px;
 height:20px;
 cursor:move;
 background:no-repeat left url("../../_img/themes/green/slider.png");
}

div.slider div.handle span {
 position:absolute;
 top:-20px;
 width:50px;
 height:15px;
 left:0;
 color:red;
}

div.slider div.zoom-track-selected {
 position:absolute;
 background-color:green;
 height:5px;
 margin-top:-1px;
 margin-left:10px;
 z-index:0;
}

div.slider div.handle span {
 position:absolute;
 top:-15px;
 width:70px;
 left:0px;
 color:#4f4f4f;
}

div.warning {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:transparent url(../../_img/themes/green/warning.gif) no-repeat scroll 0 15px;
 font-weight:bold;
 padding:0.5em 0.5em 1em 28px;
}

div.warning p {
 text-align:center;
}

div.valid {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:transparent url(../../_img/themes/default/valid.gif) no-repeat scroll 0 15px;
 font-weight:bold;
 padding:10px;
}

div.valid p {
 text-align:center;
}

div.question {
 background:transparent url(../../_img/icons/icon_question.png) no-repeat scroll 0 15px;
 font-weight:bold;
 padding:0.5em 0.5em 10px 28px;
 margin-bottom:10px;
}

div.question p {
 text-align:center;
}

ul.items {
 line-height:1px;
 margin:3px 0;
 padding:0;
 float:left;
 _float:none;
 border-bottom:1px solid #ccc;
}

ul.items li {
 border:1px solid #ccc;
 background:#ddd;
 border-bottom:none;
 padding:1px;
 margin:0;
 display:block;
 float:left;
 _float:none;
}

ul.items li.odd {
 background:#fff;
}

ul.items li div {
 display:inline;
 line-height:20px;
 float:left;
 _float:none;
}

div.resultsDisplay {
 padding:3px;
 background:white;
 border:1px solid #ccc;
 border-top:none;
 width:150px;
 font-size:9px;
 color:#757575;
 float:left;
 text-align:center;
 clear:both;
}

span.info{
 padding-left:15px;
 background:transparent url(../../_img/themes/green/buttons_small_transparent.png) left -4px no-repeat;
}

span.person{
 background-position:left -20px;
 color: black;
}
span.personwhite{
 background-position:left -20px;
 color: white;
}
a.link {
 outline:none;
 padding:5px;
 padding-left:22px;
 border:1px solid transparent;
 _border:none;
 line-height:22px;
}

a.link:hover {
 border:1px solid #4D82BB;
 _border:none;
 background-color:#CFFFA0;
}

a.linkdark:hover {
 border-color:#C3D9FF;
 background-color:#5B90CA;
}

a.add {
 background:url(../../_img/icons/icon_add.gif) no-repeat 3px top;
}

a.down {
 background:url(../../_img/themes/default/arrow_down.gif) no-repeat 6px center;
}

a.up {
 background:url(../../_img/themes/default/arrow_up.gif) no-repeat 6px center;
}

a.reload {
 background:url(../../_img/icons/icon_reload.png) no-repeat 0px center;
}

a.history {
 background:url(../../_img/icons/icon_history2.gif) no-repeat 3px center;
}

a.adminhistory {
 background:url(../../_img/icons/icon_admin.gif) no-repeat 3px center;
}

a.transactionhistory {
 background:url(../../_img/icons/icon_reload.png) no-repeat 3px center;
}

input.search {
 background-image:url(../../_img/icons/icon_search.png);
 background-repeat:no-repeat;
 background-position:2px center;
 padding-left:18px;
}

div.clear {
 width:100%;
 clear:both;
 line-height:1px;
}

table.datas {
 border:1px solid #4975A7;
 border-collapse:collapse;

}

table.data td {
 padding:2px;
 padding-top:5px;
 padding-bottom:5px;
 text-align:center;
 border-bottom:1px dotted #4975A7;
 border-left:1px solid #4975A7;
}

table.data td.nobottom {
 border-bottom:none;
}

table.data td.col1 {
 background:white;
}

table.data td.col2 {
 background:#BEDEB1;
}

table.data td.first {
 border-left:2px solid #4975A7;
}

table.data td.top {
 border-top:2px solid #4975A7;
}

table.data td.last {
 border-right:2px solid #4975A7;
}

table.data td.label {
 text-align:left;
 padding-left:5px;
 width:80px;
 font-weight:bold;
}

td.color {
 line-height:20px;
}

td.color:hover {
 background-color:#dedede;
}

.color1 { background-color:#BEDEB1; }
.color2 { background-color:#FFE7DA; }
.color3 { background-color:#ECF5FF; }
.color4 { background-color:#F3FCF8; }
.color5 { background-color:#F9F9F9; }
.color6 { background-color:#F1F0F9; }
.color7 { background-color:#FDF9F2; }
.color8 { background-color:#F1F1F1; }
.color9 { background-color:#F3FCF8; }

/**** LOGIN CSS ****/
body.login {
 background:#076BA7;
 text-align:center;
}

div#login {
 text-align:left;
 background:url(../../_img/login_new2.jpg) top right no-repeat;
 width:768px;
 height:777px;
 position:absolute;
 left:50%;
 top:40%;
 margin-top:-270px;
 margin-left:-390px;
}

div#loginhealthcenter {
 text-align:left;
 background:url(../../_img/login_healthcenter.jpg) top right no-repeat;
 width:768px;
 height:777px;
 position:absolute;
 left:50%;
 top:40%;
 margin-top:-270px;
 margin-left:-390px;
}

div#loginopeninsurance {
 text-align:left;
 background:url(../../_img/openinsurancelogin_new2.jpg) top right no-repeat;
 width:768px;
 height:777px;
 position:absolute;
 left:50%;
 top:40%;
 margin-top:-270px;
 margin-left:-390px;
}

div#login.withoutfields{
 background-image:url(../../_img/login_new2_withoutfields.jpg); 
}

div#loginopeninsurance.withoutfields{
 background-image:url(../../_img/openinsurancelogin_new2_withoutfields.jpg); 
}

div#login #version {
 width:400px;
 float:left;
 padding-left:220px;
 color:#303030;
 margin-top:-10px;
 clear:both;
}

div#login #logo {
 padding-top:105px;
 padding-left:200px;
 width:350px;
 float:left;
}

div#login #fields {
 width:460px;
 padding-left:200px;
 clear:both;
 overflow-y:auto;
 margin-top:0px;
 float:left;
}

div#loginopeninsurance #logo {
 padding-top:105px;
 padding-left:200px;
 width:350px;
 float:left;
}

div#loginopeninsurance #fields {
 width:460px;
 padding-left:200px;
 clear:both;
 overflow-y:auto;
 margin-top:0px;
 float:left;
}

div#login #fields table{
 margin-left:20px;  
}

div#loginopeninsurance #fields table{
 margin-left:20px;  
}

div#login #messages {
 width:360px;
 _width:600px;
 padding-left:225px;
 float:left;
 padding-top:5px;
}

div#loginopeninsurance #messages {
 width:360px;
 _width:600px;
 padding-left:225px;
 float:left;
 padding-top:5px;
}

div#login div#messages.messagesnofields {
 padding-top:190px;
}

div#loginopeninsurance div#messages.messagesnofields {
 padding-top:190px;
}

div#login #login_field {
 float:left;
 width:250px;
 padding-top:42px;
 padding-left:27px;
}

div#login #login_field input.text {
 height:25px;
 width:200px;
 line-height:22px;
}

div#login #pwd_field {
 float:left;
 width:250px;
 padding-top:30px;
 padding-left:27px;
}

div#login #pwd_field input.text {
 height:25px;
 width:200px;
 line-height:22px;
}

div#login #submit_button {
 float:left;
 width:200px;
 padding-left:20px;
 height:42px;
 overflow:hidden;
}

div#login #submit_button input.button {
 margin-top:10px;
 background:none;
 width:145px;
 height:30px;
 float:left;
 border:none;
}

div#login #finger_button {
 float:left;
 margin-left:10px;
 padding-top:20px;
 cursor:pointer;
}

div#login #finger_button a{
 float:left;
 width:35px;
 height:25px;
 text-decoration:none;
 cursor:pointer;
}

div#login #error_msg {
 float:left;
 padding-top:5px;
 width:300px;
 color:red;
 height:34px;
 font-weight:bold;
 padding-left:29px;
 overflow:hidden;
}

div#login #error_msg div{
 float:left;
 padding:5px;
 width:260px;
 height:auto;
 border:1px solid red;
 background-image:url('../../_img/themes/green/background_error.png');
}

div#loginopeninsurance #login_field {
 float:left;
 width:250px;
 padding-top:42px;
 padding-left:27px;
}

div#loginopeninsurance #login_field input.text {
 height:25px;
 width:200px;
 line-height:22px;
}

div#loginopeninsurance #pwd_field {
 float:left;
 width:250px;
 padding-top:30px;
 padding-left:27px;
}

div#loginopeninsurance #pwd_field input.text {
 height:25px;
 width:200px;
 line-height:22px;
}

div#loginopeninsurance #submit_button {
 float:left;
 width:200px;
 padding-left:20px;
 height:42px;
 overflow:hidden;
}

div#loginopeninsurance #submit_button input.button {
 margin-top:10px;
 background:none;
 width:145px;
 height:30px;
 float:left;
 border:none;
}

div#loginopeninsurance #finger_button {
 float:left;
 margin-left:10px;
 padding-top:20px;
}
div#loginopeninsurance #finger_button a{
 float:left;
 width:35px;
 height:25px;
 text-decoration:none;
}

div#loginopeninsurance #error_msg {
 float:left;
 padding-top:5px;
 width:300px;
 color:red;
 height:34px;
 font-weight:bold;
 padding-left:29px;
 overflow:hidden;
}

div#loginopeninsurance #error_msg div{
 float:left;
 padding:5px;
 width:260px;
 height:auto;
 border:1px solid red;
 background-image:url('../../_img/themes/green/background_error.png');
}

.table-header-rotated th.row-header{
 width:auto;
}

.table-header-rotated td{
 width:40px;
 border-top:1px solid #ddd;
 border-left:1px solid #ddd;
 border-right:1px solid #ddd;
 vertical-align:middle;
 text-align:center;
}

.table-header-rotated th.rotate-45{
 height:80px;
 width:40px;
 min-width:40px;
 max-width:40px;
 position:relative;
 vertical-align:bottom;
 padding:0;
 font-size:12px;
 line-height:0.8;
}

.table-header-rotated th.rotate-45 > div{
 position:relative;
 top:0px;
 left:40px;
 height:100%;
 -ms-transform:skew(-45deg,0deg);
 -moz-transform:skew(-45deg,0deg);
 -webkit-transform:skew(-45deg,0deg);
 -o-transform:skew(-45deg,0deg);
 transform:skew(-45deg,0deg);
 overflow:hidden;
 border-left:1px solid #ddd;
 border-right:1px solid #ddd;
 border-top:1px solid #ddd;
}

.table-header-rotated th.rotate-45 span {
 -ms-transform:skew(45deg,0deg) rotate(315deg);
 -moz-transform:skew(45deg,0deg) rotate(315deg);
 -webkit-transform:skew(45deg,0deg) rotate(315deg);
 -o-transform:skew(45deg,0deg) rotate(315deg);
 transform:skew(45deg,0deg) rotate(315deg);
 position:absolute;
 bottom:30px;
 left:-25px;
 display:inline-block;
 // width:100%;
 width:85px;
 text-align:left;
 // white-space:nowrap;
}
}